@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.5em;}
ul{ list-style: none;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2 px 10 px rgba(8, 8, 8, 0.5);
    color: white;
    background-color: rgb(184, 1, 1);
}

button:hover{
    background-color: rgb(8, 8, 8);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color{color: rgb(255, 0, 0);}

header{
    background-color: rgba(245, 245, 245, 0.24);
}

header .logo{
    margin:0;
    padding: 25px 30px;
    font-weight: bold;
    color: red;
    font-size: 1.8em;

}

header .logo-img{
    height: 90px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.716),
        rgba(0, 0, 0, 0.716)
    )
    ,url(img/fondo-principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: rgb(250, 250, 250);
}

#dap .container{
    text-align: center;
    padding: 200px 12px;
}

#sobre-nosotros{
    background-color: rgb(3, 3, 3);
    color: white;
    text-align: center;
}

#sobre-nosotros .container{
    padding: 100px 0px;
}

#sobre-nosotros h2{
    margin-top: 0;
}

#sobre-nosotros p{
    display: none;
}

#sobre-nosotros .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/desinsectacion-mini.jpg);
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgb(0, 0, 0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/desratizacion-mini.jpg);
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/desinfeccion-mini.jpg);
}

#presupuesto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 90vh;
}

#presupuesto h2{
    font-size: 4vw;
}

#presupuesto button{
    font-size: 2vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #dap .container{
        display: flex;
        justify-content: space-evenly;
    }

    #dap .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #dap h2{
        margin-top: 0px;
    }

    #dap .img-container{
        background-size: cover;
        background-position: center center;
        height: 80px;
        width: 30px;
    }

    #sobre-nosotros .servicios{
        display: flex;
        justify-content: center;
    }
    #sobre-nosotros p{
        display: block;
        margin-bottom: 30px;
    }

    #sobre-nosotros h2{
        font-size: 4em;
    }

    #sobre-nosotros h3{
        margin-top: 0;
    }

    #sobre-nosotros .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(3, 3, 3, 0.5);
        box-shadow: 2px 2px 10px rgba(134, 134, 134, 0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(img/desinsectacion-mini.jpg);
    }
    
    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgb(0, 0, 0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(img/desratizacion-mini.jpg);
    }
    
    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(img/desinfeccion-mini.jpg);
    }

    #presupuesto h2{
        font-size: 5em;
    }

    #presupuesto button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
    
}
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --padding-container:100px 0;
    --color-title: #ffffff;    
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    max-width: 120px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #000;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/IMG-20200519-WA0043.jpg');
    background-size: cover;
    /* clip-path: polygon(0 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1; 
    
}

.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 300;
}

.nav__link{
    margin-left: auto;
    padding: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    
}

.nav__items{
    list-style: none;
}

.nav__links{
    color: rgb(2, 253, 2);
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}

*/
